.row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 ;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-bottom: 1px solid #2E323A;
    margin: 24px 0;
    padding-left: 10px;
}