.box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
}

.provider_wrapper {
    display: grid;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #2E323A;
    padding: 10px 0;
}