.box {
    display: grid;
    grid-template-columns: 1fr;
}

.provider_wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    border-bottom: 1px solid #2E323A;
    padding: 12px 0;
    margin: 6px 0;
}

.provider_wrapper:last-child {
    border: none
}