.box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
}

.provider_wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #2E323A;
    padding: 10px 0;
}