.app {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background:  #14151A;
  color: white;
}

.box{
  padding-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
}